body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
  text-decoration: none;
}
.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-family: monospace;
  opacity: 0.7;
}

.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}
